.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forms-box{
    background-image: linear-gradient(#08709B, rgba(4,23,38, 0));
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.brand-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#brand-name{
    color: white;
    font-weight: 700;
    font-size: 52px;
}

input, select, option {
    width: 80%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
  }

.left-menu{
    height: 500px;
    width: 20%;
}

.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.middle-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.content-div{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: auto;
}

.logs{
    height: 100%;
    border: solid;
    border-color: tomato;
    border-radius: 20px;
    display: flex;
}

.left-div{
    width: 10%;
    border-color: transparent;
}

.middle-div{
    width: 60%;
}

.right-div{
    width: 30%;
}

.whole-div{
    width: 95%;
}

.location-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.sensors-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}