.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.forms-box{
    background-image: linear-gradient(#08709B, rgba(4,23,38, 0));
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.brand-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#brand-name{
    color: white;
    font-weight: 700;
    font-size: 52px;
}

input, select, option {
    width: 80%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
}

.help-box{
    background-image: rgba(0,0,0,0);
    width: 600px;
    height: 350px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.help-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.help-form2{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}

.peers-box-main{
    background-image: rgba(0,0,0,0);
    width: 900px;
    height: 600px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-secondary{
    background-image: rgba(0,0,0,0);
    width: 400px;
    height: 260px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-main-title{
    background-image: rgba(0,0,0,0);
    width: 900px;
    height: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-secondary-title{
    background-image: rgba(0,0,0,0);
    width: 400px;
    height: 30px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-file{
    background-image: rgba(0,0,0,0);
    width: 420px;
    height: 280px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}