.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-box{
    background-image: linear-gradient(#08709B, rgba(4,23,38, 0));
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.brand-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#brand-name{
    color: white;
    font-weight: 700;
    font-size: 52px;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
  }