.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forms-box{
    background-image: linear-gradient(#08709B, rgba(4,23,38, 0));
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.brand-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#brand-name{
    color: white;
    font-weight: 700;
    font-size: 52px;
}

input, select, option {
    width: 80%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    border: 1px solid #ffffff;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
  }

.left-menu{
    height: 500px;
    width: 20%;
}

.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.middle-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.content-div{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: auto;
}

.logs{
    height: 100%;
    border: solid;
    border-color: tomato;
    border-radius: 20px;
    display: flex;
}

.left-div{
    width: 10%;
    border-color: transparent;
}

.middle-div{
    width: 60%;
}

.right-div{
    width: 30%;
}

.whole-div{
    width: 30%;
    margin-right: 35px;
}

.location-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.sensors-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.sample-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#type-input{
    width: 400px;
    border: 1px solid #08709B;
}

#file-input{
    width: 400px;
    border: 1px solid #08709B;
}

#name-input{
    width: 400px;
    border: 1px solid #08709B;
}

.mission-astronaut-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-astro{
    width: 45%;
    padding: 12px 20px 12px 20px;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #08709B;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
  }

.mission-astro2{
    width: 45%;
    height: 90%;
    margin: 8px 0;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #08709B;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
}

.help-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.help-form2{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.peers-box-main{
    background-image: rgba(0,0,0,0);
    width: 900px;
    height: 600px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-file{
    background-image: rgba(0,0,0,0);
    width: 420px;
    height: 280px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.peers-box-secondary{
    background-image: rgba(0,0,0,0);
    width: 400px;
    height: 260px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.help-box{
    width: 600px;
    height: 350px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    border: 1px solid #08709B;
}

.help-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.help-form2{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90%;
    justify-content: center;
}